.siteHeader {
    display: flex;
    background-color: #fafafa;
    width: 100%;
    box-shadow: 0px 0px 3px lightgrey;
    position: sticky;
    top: 0;
}

.siteHeader p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
}

.siteLogo {
    width: 17rem;
    cursor: pointer;
}

.left {
    display: inherit;
    align-items: center;
}

.right {
    display: inherit;
    align-items: center;
    margin-left: auto;
    margin-right: 2rem;
}
